/** Add css rules here for your application. */
body{background:#fff; font-size:12px; font-family:"宋体",Verdana, Arial; line-height:150%; margin:5px 0 0 0; padding:0; color:#404040;}


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 10px 0px 10px;
  text-align: center;
}

.nowtime {
	font-size: 14px;
	color: blue;
	padding-right: 20px;
}

.body {
	background-color: #EEEEEE;
	border: 1px solid #006699;
}

.userinfo {
	border: 1px solid #5cb4e6;
	background: url(img/searchBg.gif) repeat-x right top;
	height: 30px;
	line-height: 30px;
	color: #fff;
	padding-right: 20px;
	font-size: 14px;
	text-align: right;
}

.userinfo-name {
	font-weight: bold;
	color: #FFFFFF;
	font-size: 14px;
	padding-left: 20px;
}

.userinfo-content {
	color: #FFFFFF;
	font-size: 14px;
}

.gwt-StackPanel{
	border: 1px solid #c5e4ff;
	cursor: hand;
}

.gwt-StackPanelItem {
	background: url(img/box_2Bg.gif) repeat-x top left;
	background-color: #edf8fe;
	border-bottom: 1px solid #c5e4ff;
}

.gwt-StackPanelItem td {
	height: 33px;
	line-height: 33px;
	font-size: 12px;
	background: url(img/h3title.gif) repeat-x left top;
	text-align: right;
	padding: 0 12px;
	font-weight: 100;
}

.gwt-StackPanelItem div {
	float: left;
	background: url(img/bg.gif) no-repeat 0px -570px;
	width: auto;
	height: 33px;
	line-height: 33px;
	text-align: left;
	font-weight: bold;
	color: #56a5ee;
	margin-left: 12px;
	padding-left: 12px;
}

.gwt-TreeItem-selected {
	background: url(img/lineBg.gif) repeat-x left bottom;
	color: #3f3f3f;
	padding: 2px 0 3px 12px;
}

.copyright {
	background-color: #BBEEFF;
	border-top: 1px dashed #555555;
}