/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 10px 0px 10px;
  text-align: center;
}

.nowtime {
	font-size: 14px;
	color: blue;
	padding-right: 20px;
}

.body {
	background-color: #EEEEEE;
	border: 1px solid #006699;
}

.userinfo {
	padding-left: 20px;
	background-color: #BBEEFF;
	border-top: 1px dashed #555555;
	border-bottom:  1px dashed #555555;
}

.copyright {
	background-color: #BBEEFF;
	border-top: 1px dashed #555555;
}